body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: white;
    width:15rem;
    border-radius: .45rem;
    padding: 10px;
    padding-bottom: 2rem;
}

.screen {
    height: 10rem;
    background-color: lightgray;
    border-radius: inherit;
    padding: .5rem;
}

.blue-bg {
    background-color: royalblue;
}

.content {
    margin-left: 10px;
}

.content a {
    background-color: royalblue;
    padding: 9px 20px;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: .8rem;
}

.content a:hover {
    background-color: navy;
}

.content a:active {
    background-color: darkslategrey;
}

/* Js Intro */
#text-field {
    margin-top: 1rem;
    border: 1px solid darkgray;
    height: 1.5rem;
    padding: .1rem .5rem;
}

#text-field:focus {
    outline: 2px solid lightgreen;
    border: none;
}

.blue-btn > span {
    color: white;
}

