html {
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section {
    padding: .5rem;
    line-height: 1.4rem;
}

#about, #testimonial {
    background-color: gainsboro;
}
